* {
    margin: 0;
    padding: 0;
}

/*el resto de las secciones va aca*/
/*Mochilas*/
body {
    background-image: url('../assets/img/fondo1.png');
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

/*ajustes de valores de tamaño al header*/
header {
    position: relative;
    height: 25vh;
    min-height: 20rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
}

img {
    width: 100%;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: whitesmoke;
    font-size: medium;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 3 rem;
    text-align: center;
    color: whitesmoke;
}

h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

/*aplicando grid a estas imagenes que da una mejor presentacion a la pagina */
#galeria-home {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 2fr 1fr;
    gap: 5px;
}

#galeria-home :hover {
    filter: grayscale(1);
}

#galeria-home img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
}

#galeria-home img:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
}

/*fin de grid*/
/*colocando los ajustes en las imagenes mediante clases*/
.imagenescont {
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}

.imagen_portal1 {
    width: 320px;
    text-align: justify;
    margin: auto;
    font-size: 0.5rem;
}

/*ajustando parrafos*/
#video1 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 80px
}

/*Padre contenedora seccion Mochilas*/
.row    {
    padding: 5vw;
    gap: 5vw;
    flex-wrap: wrap;
    display: flex;
}
.col    {
    width: 25vw;
    margin: auto;
    font-size: 1rem;
    text-align: justify;
}

.card-text  {
    height: 20vh;
    overflow-y: scroll;
}

/*Seccion: Accesorios*/
/*contenedor Accesorios*/
.contenedoracc {
    padding: 50px;
    gap: 50px;
    flex-wrap: wrap;
    display: flex;
}

/*items del contenedor Accesorios*/
.acce {
    width: 320px;
    text-align: justify;
    margin: auto;
    font-size: 1rem;
    list-style-position: inside;
}

/*fin de la seccion Accesorios*/

/*en esta seccion se crea los estilos para el contenedor de la seccion multimedia*/
.multi1 {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

/*aca se aplica estilos a los items de multimedia*/
.multi2 {
    width: 320px;
    margin: auto;
    font-size: 1rem;
}

/*aca por fin termine esta seccion que me dio dolor de cabeza :p*/
/* aca empieza el estilo de contactos*/
.contactocont {
    flex-direction: column;
    display: inline;
}

/*esta secciones el pie de pagina*/

footer {
    background-image: url('../assets/img/montaña-footer.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position-y: center;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    color: black;
}

.contenedor-form {
    background-color: gray;
    margin-left: 5vw;
    margin-right: 5vw;
    align-items: center;
}

@media (max-width:320px) and (max-width:600px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media (max-width:320px) and (max-width:600px) {
    h2 {
        font-size: 1rem;
    }
}

@media (max-width:320px) and (max-width:600px) {
    p {
        font-size: 0.7rem;
    }
}

@media (max-width:320px) and (max-width:600px) {

    .col    {
        width: 80vw; 
    }
}

@media (max-width:320px) and (max-width:600px) {
    .acce,
    .multi2 {
        font-size: 1rem;
        width: 100%;
    }
}

@media (max-width:320px) and (max-width:600px) {

    .contenedoracc,
    .multi1 {
        flex-direction: column;
        text-align: center;
        margin: auto;
    }
}

@media (min-width: 320px) and (max-width:600px) {
    footer {
        background-color: #1a4d6a;
        background-image: none;
    }
}

@media (min-width: 320px) and (max-width:600px) {
    .foot {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
    }
}


/*aca termina en queries de movil*/